{% extends 'base.html.twig' %}

{% block main %}
    <div id="main">
    {% for msg in app.session.flashBag.get('info') %}
        <div class="alert alert-success" role="alert" id="info">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('errors') %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h2>MY SHOPPING CART </h2>
    <hr>
    {% if cart is empty %}
    <h1>No Items in your cart yet</h1>
    {% else %}
    <div>
        {% for jewellery in cart %}
            <a class="pull-right" href="{{ path('cart_remove', {id: jewellery.jewelleryId}) }}"
               id="{{ jewellery.jewelleryId }}">x</a>

            <div>
                <a href="{{ path('jewellery_view', {id: jewellery.jewelleryId}) }}">
                    <img src="{{ asset('uploads/images/jewelleries/' ~ jewellery.image ) }}" width="50px"
                         height="50px"/>
                    <h3>{{ jewellery.name }}</h3></a>
                <div>
                    <p><span>Quantity : </span> <span>{{ jewellery.quantity }}</span></p>
                    <p>
                        <span>Jewellery price : $</span> <span>{{ jewellery.price }}</span> /
                        <span>Total : $</span> <span>{{ jewellery.totalItemPrice }}</span>
                    </p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div style="margin-top: 50px; text-align: right;">
        <p><span>Total price : $</span>{{ totalCartPrice }}<span></span></p>
        <div id="checkout">
            <a href="{{ path('checkout') }}" id="checkout-confirm" class="btn btn-success btn-sm">Checkout</a>
            {% endif %}
        </div>
    </div>
    </div>
{#        <script>#}
{#            let modal = `<div id="id01" class="w3-modal w3-animate-opacity">#}
{#                              <div class="w3-modal-content">#}

{#                                <header class="w3-container w3-teal">#}
{#                                  <span onclick="document.getElementById('id01').style.display='none'"#}
{#                                  class="w3-button w3-display-topright">&times;</span>#}
{#                                  <h2>Modal Header</h2>#}
{#                                </header>#}

{#                                <div class="w3-container">#}
{#                                  <p>Some text..</p>#}
{#                                  <p>Some text..</p>#}
{#                                </div>#}

{#                                <footer class="w3-container w3-teal">#}
{#                                  <p>Modal Footer</p>#}
{#                                </footer>#}

{#                              </div>#}
{#                            </div>`;#}
{#            $('#checkout-confirm').onclick = (function () {#}
{#                modal.style.display = "block";#}
{#            });#}
{#        </script>#}
{% endblock %}