<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Nora Divnik{% endblock %}</title>
    {% block stylesheets %}
{#        <link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <!-- Plugin-CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <!-- Main-Stylesheets -->
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    <script>
        setTimeout(function () {
            $('#info').fadeOut();
        }, 3000)
    </script>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('blog_index') }}" class="navbar-brand">Nora Divnik Jewelleries</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar">arlhfreiu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if app.user and app.user.admin %}
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin Menu
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('orders_new') }}">New Orders</a></li>
                                    <li><a href="{{ path('orders_all') }}">All Orders</a></li>
                                    <li><a href="{{ path('jewellery_all') }}">All Jewelleries</a></li>
                                    <li><a href="{{ path('gems_all') }}">All Gems</a></li>
                                    <li><a href="{{ path('jewellery_create') }}">Add Jewellery</a></li>
                                    <li><a href="{{ path('gem_create') }}">Add Gem</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            {% if not app.user.admin %}
                                <li>
                                    <a href="{{ path('cart_view') }}" class="navbar-brand">
                                        Your Cart
                                    </a>
                                </li>
                                <li>
                            {% endif %}
                            <a href="{{ path('user_profile') }}" class="navbar-brand">
                                {% if app.user.getImage() %}
                                    <span><img src="{{ asset('uploads/images/users/' ~ app.user.getImage()) }}"
                                               width="15"
                                               height="20" class="img-rounded"> </span>
                                {% endif %}
                                Profile
                            </a>
                            </li>
                            <li>
                                <a href="{{ path('security_logout') }}" class="navbar-brand">
                                    Logout
                                </a>
                            </li>

                        {% else %}
                            <li>
                                <a href="{{ path('user_register') }}">
                                    REGISTER
                                </a>
                            </li>
                            <li>
                                <div class="right-button hidden-xs">
                                <a href="{{ path('security_login') }}">
                                    LOGIN
                                </a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="body_id" class="col-sm-9">
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer >
        <div class="container modal-footer">
            <p>&copy; 2019 - Nora Divnik</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

</body>
</html>