{% extends 'base.html.twig' %}

{% block main %}
    {% for msg in app.session.flashBag.get('info') %}
        <div class="alert alert-success" role="alert" id="info">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('errors') %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            {% for jewellery in jewelleries %}
                <div class="col-md-6">
                    <div>

                        <header>
                            <h2>{{ jewellery.name }}</h2>
                        </header>

                            <a href="{{ path('jewellery_view', {id: jewellery.id}) }}">
                                <img src="{{ asset('uploads/images/jewelleries/' ~ jewellery.image) }}" width="400px" height="200px">
                            </a>

                        <p>
                            {{ jewellery.price }}
                        </p>

                        <div class="pull-right">
                            <a class="btn btn-success btn-xs"
                               href="{{ path('jewellery_view', {id: jewellery.id}) }}">View Jewellery</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
